.icon-arrow-left-gray {
  background-image: url(../../img/sprite.png);
  background-position: -154px -127px;
  width: 19px;
  height: 34px; }

.icon-arrow-left {
  background-image: url(../../img/sprite.png);
  background-position: -97px -127px;
  width: 19px;
  height: 34px; }

.icon-arrow-right-gray {
  background-image: url(../../img/sprite.png);
  background-position: -135px -127px;
  width: 19px;
  height: 34px; }

.icon-arrow-right {
  background-image: url(../../img/sprite.png);
  background-position: -116px -127px;
  width: 19px;
  height: 34px; }

.icon-box {
  background-image: url(../../img/sprite.png);
  background-position: -72px -64px;
  width: 43px;
  height: 33px; }

.icon-cards {
  background-image: url(../../img/sprite.png);
  background-position: 0px -63px;
  width: 64px;
  height: 64px; }

.icon-cross {
  background-image: url(../../img/sprite.png);
  background-position: -183px -48px;
  width: 15px;
  height: 15px; }

.icon-cup {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 72px;
  height: 63px; }

.icon-enginer {
  background-image: url(../../img/sprite.png);
  background-position: -134px -48px;
  width: 49px;
  height: 49px; }

.icon-magniffic-glass {
  background-image: url(../../img/sprite.png);
  background-position: 0px -127px;
  width: 35px;
  height: 35px; }

.icon-medal {
  background-image: url(../../img/sprite.png);
  background-position: -69px -127px;
  width: 28px;
  height: 34px; }

.icon-pig {
  background-image: url(../../img/sprite.png);
  background-position: -72px 0px;
  width: 62px;
  height: 64px; }

.icon-rulet {
  background-image: url(../../img/sprite.png);
  background-position: -134px 0px;
  width: 65px;
  height: 48px; }

.icon-tel {
  background-image: url(../../img/sprite.png);
  background-position: -134px -97px;
  width: 23px;
  height: 23px; }

.icon-thumb-up {
  background-image: url(../../img/sprite.png);
  background-position: -35px -127px;
  width: 34px;
  height: 35px; }
